
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', 'Jua', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #111827;
    color: white;
}

.animation-delay-150 {
    animation-delay: 150ms;
}
